.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
a.out.dSYM/Contents/Resources/DWARF/a.out
a.out.dSYM/Contents/Info.plist
main
a.out
Makefile.win
main.o
Ejercicio3.o
Ejercicio1.o
Ejercicio2.o
